$background: #090E16;
$accent:#7B4AE2;
$text:white;
$alt-text: rgba(255, 255, 255, 0.5);
$accent-10:rgba(123, 74, 226, 0.1);
$accent-20:rgba(123, 74, 226, 0.2);
$accent-50:rgba(123, 74, 226, 0.5);
$title-size: calc(40px + 12 * (100vw / 1280));
$media-phone: 'max-width: 900px';
$media-laptop: 'max-width: 1100px';